<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- .register-box -->
<div class="register-box">
  <div class="register-logo">
    <b>Claranet</b>
  </div>
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>
      <form (ngSubmit)="submit()" [formGroup]="newLetterForm" #formDir="ngForm">
        <div class="row">
          <div class="col-sm-12">
            <label for="email">Email</label>
            <div class="input-group mb-2">
              <input type="email" formControlName="email" class="form-control" id="email" name="email"
                placeholder="Email" [(ngModel)]="newLetter.email" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div *ngIf="email.invalid && formDir.submitted">
              <p class="text-danger" *ngIf="email.errors?.['required']">Email is required.</p>
              <p class="text-danger" *ngIf="email.invalid">Email must be a valid email address.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-2">
            <label for="howTheyHeardAboutUs">How they heard about us</label>
            <select [(ngModel)]="newLetter.heardAboutUs" class="form-control" id="howTheyHeardAboutUs"
              name="howTheyHeardAboutUs" formControlName="howTheyHeardAboutUs">
              <option value="1" selected>Advert</option>
              <option value="2">Word of Mouth</option>
              <option value="3">Other</option>
            </select>
            <div *ngIf="howTheyHeardAboutUs.invalid && formDir.submitted">              
              <p class="text-danger" *ngIf="howTheyHeardAboutUs.errors?.['required']">How they heard about us is required.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-2">
            <label for="ReasonForSigningUp">Reason for signing up</label>
            <textarea class="form-control" placeholder="Reason for signing up"
              [(ngModel)]="newLetter.reasonForSigningUp" formControlName="reasonForSigningUp"></textarea>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-4 mb-2">
            <input type="submit" class="btn btn-primary" value="Register">
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->